/MergeServer/bin/Debug
/NetChannel/bin/Debug
/PingPongClient/bin/Debug
/PingPongClient/obj/Debug
/PingPongServer/bin/Debug
/NetChannel/obj/Debug
/PingPongServer/obj/Debug
/MergeClient/bin/Debug
/MergeServer/obj/Debug
/MergeClient/obj/Debug
/.vs
/Serialize/bin/Debug/netstandard2.0/Serialize.deps.json
/Serialize/bin/Debug/netstandard2.0/Serialize.dll
/Serialize/bin/Debug/netstandard2.0/Serialize.pdb
/Serialize/obj/Debug/netstandard2.0/Serialize.AssemblyInfo.cs
/Serialize/obj/Debug/netstandard2.0/Serialize.AssemblyInfoInputs.cache
/Serialize/obj/Debug/netstandard2.0/Serialize.csproj.CoreCompileInputs.cache
/Serialize/obj/Debug/netstandard2.0/Serialize.csproj.FileListAbsolute.txt
/Serialize/obj/Debug/netstandard2.0/Serialize.csprojAssemblyReference.cache
/Serialize/obj/Debug/netstandard2.0/Serialize.dll
/Serialize/obj/Debug/netstandard2.0/Serialize.pdb
/Serialize/obj/Serialize.csproj.nuget.cache
/Serialize/obj/Serialize.csproj.nuget.g.props
/Serialize/obj/Serialize.csproj.nuget.g.targets
/Serialize/obj/project.assets.json
/NetChannel/obj/NetChannel.csproj.nuget.cache
/NetChannel/obj/NetChannel.csproj.nuget.g.props
/NetChannel/obj/NetChannel.csproj.nuget.g.targets
/NetChannel/obj/project.assets.json
/Logs/bin/Debug/netstandard2.0/Logs.deps.json
/Logs/bin/Debug/netstandard2.0/Logs.dll
/Logs/bin/Debug/netstandard2.0/Logs.pdb
/Logs/bin/Debug/netstandard2.0/Serialize.dll
/Logs/bin/Debug/netstandard2.0/Serialize.pdb
/Logs/bin/Debug/netstandard2.0/log4net.config
/Logs/obj/Debug/netstandard2.0/Logs.AssemblyInfo.cs
/Logs/obj/Debug/netstandard2.0/Logs.AssemblyInfoInputs.cache
/Logs/obj/Debug/netstandard2.0/Logs.csproj.CopyComplete
/Logs/obj/Debug/netstandard2.0/Logs.csproj.CoreCompileInputs.cache
/Logs/obj/Debug/netstandard2.0/Logs.csproj.FileListAbsolute.txt
/Logs/obj/Debug/netstandard2.0/Logs.csprojAssemblyReference.cache
/Logs/obj/Debug/netstandard2.0/Logs.dll
/Logs/obj/Debug/netstandard2.0/Logs.pdb
/Logs/obj
