/MergeServer/bin/Debug
/NetChannel/bin/Debug
/PingPongClient/bin/Debug
/PingPongClient/obj/Debug
/PingPongServer/bin/Debug
/NetChannel/obj/Debug
/PingPongServer/obj/Debug
/MergeClient/bin/Debug
/MergeServer/obj/Debug
/MergeClient/obj/Debug
/.vs
