/MergeServer/bin/Debug
/NetChannel/bin/Debug
/PingPongClient/bin/Debug
/PingPongClient/obj/Debug
/PingPongServer/bin/Debug
/NetChannel/obj/Debug
/PingPongServer/obj/Debug
/MergeClient/bin/Debug
/MergeServer/obj/Debug
/MergeClient/obj/Debug
/.vs
/Serialize/bin/Debug/netstandard2.0/Serialize.deps.json
/Serialize/bin/Debug/netstandard2.0/Serialize.dll
/Serialize/bin/Debug/netstandard2.0/Serialize.pdb
/Serialize/obj/Debug/netstandard2.0/Serialize.AssemblyInfo.cs
/Serialize/obj/Debug/netstandard2.0/Serialize.AssemblyInfoInputs.cache
/Serialize/obj/Debug/netstandard2.0/Serialize.csproj.CoreCompileInputs.cache
/Serialize/obj/Debug/netstandard2.0/Serialize.csproj.FileListAbsolute.txt
/Serialize/obj/Debug/netstandard2.0/Serialize.csprojAssemblyReference.cache
/Serialize/obj/Debug/netstandard2.0/Serialize.dll
/Serialize/obj/Debug/netstandard2.0/Serialize.pdb
/Serialize/obj/Serialize.csproj.nuget.cache
/Serialize/obj/Serialize.csproj.nuget.g.props
/Serialize/obj/Serialize.csproj.nuget.g.targets
/Serialize/obj/project.assets.json
/NetChannel/obj/NetChannel.csproj.nuget.cache
/NetChannel/obj/NetChannel.csproj.nuget.g.props
/NetChannel/obj/NetChannel.csproj.nuget.g.targets
/NetChannel/obj/project.assets.json
/Logs/bin/Debug/netstandard2.0/Logs.deps.json
/Logs/bin/Debug/netstandard2.0/Logs.dll
/Logs/bin/Debug/netstandard2.0/Logs.pdb
/Logs/bin/Debug/netstandard2.0/Serialize.dll
/Logs/bin/Debug/netstandard2.0/Serialize.pdb
/Logs/bin/Debug/netstandard2.0/log4net.config
/Logs/obj/Debug/netstandard2.0/Logs.AssemblyInfo.cs
/Logs/obj/Debug/netstandard2.0/Logs.AssemblyInfoInputs.cache
/Logs/obj/Debug/netstandard2.0/Logs.csproj.CopyComplete
/Logs/obj/Debug/netstandard2.0/Logs.csproj.CoreCompileInputs.cache
/Logs/obj/Debug/netstandard2.0/Logs.csproj.FileListAbsolute.txt
/Logs/obj/Debug/netstandard2.0/Logs.csprojAssemblyReference.cache
/Logs/obj/Debug/netstandard2.0/Logs.dll
/Logs/obj/Debug/netstandard2.0/Logs.pdb
/Logs/obj
/Serialize/obj/Debug/netstandard2.0
/Common/bin/Debug/netstandard2.0/Common.deps.json
/Common/bin/Debug/netstandard2.0/Common.dll
/Common/bin/Debug/netstandard2.0/Common.pdb
/Common/bin/Debug/netstandard2.0/Logs/log4net.config
/Common/obj/Debug/netstandard2.0/Common.AssemblyInfo.cs
/Common/obj/Debug/netstandard2.0/Common.AssemblyInfoInputs.cache
/Common/obj/Debug/netstandard2.0/Common.csproj.CoreCompileInputs.cache
/Common/obj/Debug/netstandard2.0/Common.csproj.FileListAbsolute.txt
/Common/obj/Debug/netstandard2.0/Common.csprojResolveAssemblyReference.cache
/Common/obj/Debug/netstandard2.0/Common.dll
/Common/obj/Debug/netstandard2.0/Common.pdb
/Common/obj/Common.csproj.nuget.cache
/Common/obj/Common.csproj.nuget.g.props
/Common/obj/Common.csproj.nuget.g.targets
/Common/obj/project.assets.json
/Common/obj
/TestDataConvert/bin/Debug/Common.dll
/TestDataConvert/bin/Debug/Common.pdb
/TestDataConvert/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/TestDataConvert/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/TestDataConvert/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/TestDataConvert/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/TestDataConvert/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/TestDataConvert/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/TestDataConvert/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/TestDataConvert/bin/Debug/Microsoft.Win32.Primitives.dll
/TestDataConvert/bin/Debug/Newtonsoft.Json.dll
/TestDataConvert/bin/Debug/Newtonsoft.Json.xml
/TestDataConvert/bin/Debug/System.AppContext.dll
/TestDataConvert/bin/Debug/System.Collections.Concurrent.dll
/TestDataConvert/bin/Debug/System.Collections.NonGeneric.dll
/TestDataConvert/bin/Debug/System.Collections.Specialized.dll
/TestDataConvert/bin/Debug/System.Collections.dll
/TestDataConvert/bin/Debug/System.ComponentModel.EventBasedAsync.dll
/TestDataConvert/bin/Debug/System.ComponentModel.Primitives.dll
/TestDataConvert/bin/Debug/System.ComponentModel.TypeConverter.dll
/TestDataConvert/bin/Debug/System.ComponentModel.dll
/TestDataConvert/bin/Debug/System.Console.dll
/TestDataConvert/bin/Debug/System.Data.Common.dll
/TestDataConvert/bin/Debug/System.Diagnostics.Contracts.dll
/TestDataConvert/bin/Debug/System.Diagnostics.Debug.dll
/TestDataConvert/bin/Debug/System.Diagnostics.FileVersionInfo.dll
/TestDataConvert/bin/Debug/System.Diagnostics.Process.dll
/TestDataConvert/bin/Debug/System.Diagnostics.StackTrace.dll
/TestDataConvert/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
/TestDataConvert/bin/Debug/System.Diagnostics.Tools.dll
/TestDataConvert/bin/Debug/System.Diagnostics.TraceSource.dll
/TestDataConvert/bin/Debug/System.Diagnostics.Tracing.dll
/TestDataConvert/bin/Debug/System.Drawing.Primitives.dll
/TestDataConvert/bin/Debug/System.Dynamic.Runtime.dll
/TestDataConvert/bin/Debug/System.Globalization.Calendars.dll
/TestDataConvert/bin/Debug/System.Globalization.Extensions.dll
/TestDataConvert/bin/Debug/System.Globalization.dll
/TestDataConvert/bin/Debug/System.IO.Compression.ZipFile.dll
/TestDataConvert/bin/Debug/System.IO.Compression.dll
/TestDataConvert/bin/Debug/System.IO.FileSystem.DriveInfo.dll
/TestDataConvert/bin/Debug/System.IO.FileSystem.Primitives.dll
/TestDataConvert/bin/Debug/System.IO.FileSystem.Watcher.dll
/TestDataConvert/bin/Debug/System.IO.FileSystem.dll
/TestDataConvert/bin/Debug/System.IO.IsolatedStorage.dll
/TestDataConvert/bin/Debug/System.IO.MemoryMappedFiles.dll
/TestDataConvert/bin/Debug/System.IO.Pipes.dll
/TestDataConvert/bin/Debug/System.IO.UnmanagedMemoryStream.dll
/TestDataConvert/bin/Debug/System.IO.dll
/TestDataConvert/bin/Debug/System.Linq.Expressions.dll
/TestDataConvert/bin/Debug/System.Linq.Parallel.dll
/TestDataConvert/bin/Debug/System.Linq.Queryable.dll
/TestDataConvert/bin/Debug/System.Linq.dll
/TestDataConvert/bin/Debug/System.Net.Http.dll
/TestDataConvert/bin/Debug/System.Net.NameResolution.dll
/TestDataConvert/bin/Debug/System.Net.NetworkInformation.dll
/TestDataConvert/bin/Debug/System.Net.Ping.dll
/TestDataConvert/bin/Debug/System.Net.Primitives.dll
/TestDataConvert/bin/Debug/System.Net.Requests.dll
/TestDataConvert/bin/Debug/System.Net.Security.dll
/TestDataConvert/bin/Debug/System.Net.Sockets.dll
/TestDataConvert/bin/Debug/System.Net.WebHeaderCollection.dll
/TestDataConvert/bin/Debug/System.Net.WebSockets.Client.dll
/TestDataConvert/bin/Debug/System.Net.WebSockets.dll
/TestDataConvert/bin/Debug/System.ObjectModel.dll
/TestDataConvert/bin/Debug/System.Reflection.Extensions.dll
/TestDataConvert/bin/Debug/System.Reflection.Primitives.dll
/TestDataConvert/bin/Debug/System.Reflection.dll
/TestDataConvert/bin/Debug/System.Resources.Reader.dll
/TestDataConvert/bin/Debug/System.Resources.ResourceManager.dll
/TestDataConvert/bin/Debug/System.Resources.Writer.dll
/TestDataConvert/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
/TestDataConvert/bin/Debug/System.Runtime.Extensions.dll
/TestDataConvert/bin/Debug/System.Runtime.Handles.dll
/TestDataConvert/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/TestDataConvert/bin/Debug/System.Runtime.InteropServices.dll
/TestDataConvert/bin/Debug/System.Runtime.Numerics.dll
/TestDataConvert/bin/Debug/System.Runtime.Serialization.Formatters.dll
/TestDataConvert/bin/Debug/System.Runtime.Serialization.Json.dll
/TestDataConvert/bin/Debug/System.Runtime.Serialization.Primitives.dll
/TestDataConvert/bin/Debug/System.Runtime.Serialization.Xml.dll
/TestDataConvert/bin/Debug/System.Runtime.dll
/TestDataConvert/bin/Debug/System.Security.Claims.dll
/TestDataConvert/bin/Debug/System.Security.Cryptography.Algorithms.dll
/TestDataConvert/bin/Debug/System.Security.Cryptography.Csp.dll
/TestDataConvert/bin/Debug/System.Security.Cryptography.Encoding.dll
/TestDataConvert/bin/Debug/System.Security.Cryptography.Primitives.dll
/TestDataConvert/bin/Debug/System.Security.Cryptography.X509Certificates.dll
/TestDataConvert/bin/Debug/System.Security.Principal.dll
/TestDataConvert/bin/Debug/System.Security.SecureString.dll
/TestDataConvert/bin/Debug/System.Text.Encoding.Extensions.dll
/TestDataConvert/bin/Debug/System.Text.Encoding.dll
/TestDataConvert/bin/Debug/System.Text.RegularExpressions.dll
/TestDataConvert/bin/Debug/System.Threading.Overlapped.dll
/TestDataConvert/bin/Debug/System.Threading.Tasks.Parallel.dll
/TestDataConvert/bin/Debug/System.Threading.Tasks.dll
/TestDataConvert/bin/Debug/System.Threading.Thread.dll
/TestDataConvert/bin/Debug/System.Threading.ThreadPool.dll
/TestDataConvert/bin/Debug/System.Threading.Timer.dll
/TestDataConvert/bin/Debug/System.Threading.dll
/TestDataConvert/bin/Debug/System.ValueTuple.dll
/TestDataConvert/bin/Debug/System.Xml.ReaderWriter.dll
/TestDataConvert/bin/Debug/System.Xml.XDocument.dll
/TestDataConvert/bin/Debug/System.Xml.XPath.XDocument.dll
/TestDataConvert/bin/Debug/System.Xml.XPath.dll
/TestDataConvert/bin/Debug/System.Xml.XmlDocument.dll
/TestDataConvert/bin/Debug/System.Xml.XmlSerializer.dll
/TestDataConvert/bin/Debug/TestDataConvert.dll
/TestDataConvert/bin/Debug/TestDataConvert.pdb
/TestDataConvert/bin/Debug/netstandard.dll
/TestDataConvert/bin/Debug/zh-Hans/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/TestDataConvert/bin/Debug/zh-Hans/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/TestDataConvert/bin/Debug/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/TestDataConvert/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestDataConvert/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TestDataConvert/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TestDataConvert/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TestDataConvert/obj/Debug/TestDataConvert.csproj.CopyComplete
/TestDataConvert/obj/Debug/TestDataConvert.csproj.CoreCompileInputs.cache
/TestDataConvert/obj/Debug/TestDataConvert.csproj.FileListAbsolute.txt
/TestDataConvert/obj/Debug/TestDataConvert.csprojAssemblyReference.cache
/TestDataConvert/obj/Debug/TestDataConvert.dll
/TestDataConvert/obj/Debug/TestDataConvert.pdb
/packages/MSTest.TestAdapter.1.2.1/MSTest.TestAdapter.1.2.1.nupkg
/packages/MSTest.TestAdapter.1.2.1/build/_common/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/cs/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/cs/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/de/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/de/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/es/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/es/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/es/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/fr/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/fr/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/it/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/it/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/it/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/ja/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/ja/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/ko/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/ko/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/pl/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/pl/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/pt/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/pt/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/ru/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/ru/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/tr/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/tr/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/zh-Hans/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/zh-Hans/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/zh-Hant/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/zh-Hant/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/_common/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.2.1/build/net45/MSTest.TestAdapter.props
/packages/MSTest.TestAdapter.1.2.1/build/net45/MSTest.TestAdapter.targets
/packages/MSTest.TestAdapter.1.2.1/build/netcoreapp1.0/MSTest.TestAdapter.props
/packages/MSTest.TestAdapter.1.2.1/build/netcoreapp1.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/packages/MSTest.TestAdapter.1.2.1/build/uap10.0/MSTest.TestAdapter.props
/packages/MSTest.TestAdapter.1.2.1/build/uap10.0/MSTest.TestAdapter.targets
/packages/MSTest.TestAdapter.1.2.1/build/uap10.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/packages/MSTest.TestFramework.1.2.1/MSTest.TestFramework.1.2.1.nupkg
/packages/MSTest.TestFramework.1.2.1/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.2.1/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/packages/MSTest.TestFramework.1.2.1/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.2.1/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/packages/MSTest.TestFramework.1.2.1/lib/net45/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/net45/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/netstandard1.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/packages/MSTest.TestFramework.1.2.1/lib/uap10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/packages/Newtonsoft.Json.11.0.2/LICENSE.md
/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/TestDataConvert/obj/Debug/*.cache
/kcp4sharp/.vs/kcp4sharp/v15/Server/sqlite3/db.lock
/kcp4sharp/.vs/kcp4sharp/v15/Server/sqlite3/storage.ide
/NetChannel/bin
/NetChannel/obj
